.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
}

.left{
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.right{
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left img,.right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition-duration: 0.4s;
    transition: transform 0.4s;
}

.left img:hover,.right img:hover{
  filter: grayscale(0);
  transform: scale(1.1);
}
