#fleurpage{
    width : 100%;
    height : 100%;
    position : fixed;
    animation : zoomin 1s ease-in-out;
    animation-fill-mode : forwards;
}

@keyframes zoomin{
    from{
        transform : scale(0);
    }
    to{
        transform : scale(1);
    }
}

#petale{
    position: fixed;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
    width : 276px;
    height : 276px;
}

#centerfraise{
    width: 40%;
    height: 40%;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#fraise{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
}

#petalenoir{
    border : 2px solid black;
    position: absolute;
    background-color: black;
    width: 114px;
    height: 114px;
    z-index: 0;
    right: 50%;
    transform: translate(50%,0) rotate(45deg);
    transition-duration: 0.4s;
}

#petalebrown{
    border: none;
    position: absolute;
    background-color: #863B0B;
    border: #863B0B 2px solid;
    width: 114px;
    height: 114px;
    z-index: 0;
    right: 0;
    top : 50%;
    transform: translate(0,-50%) rotate(45deg);
    transition-duration: 0.4s;
}

#petaleblue{
    position: absolute;
    background-color: #5CE1E6;
    border: #5CE1E6 2px solid;
    width: 114px;
    height: 114px;
    z-index: 0;
    bottom: 0;
    left : 50%;
    transform: translate(-50%,0) rotate(45deg);
    transition-duration: 0.4s;
}

#petalejaune{
    border: 2px solid #FFDE59;
    position: absolute;
    background-color: #FFDE59;
    width: 114px;
    height: 114px;
    z-index: 0;
    left: 0;
    top : 50%;
    transform: translate(0,-50%) rotate(45deg);
    transition-duration: 0.4s;
}

#petalenoir:hover{
    transform: translate(50%,-15%) rotate(45deg);
}

#petalebrown:hover{
    transform: translate(15%,-50%) rotate(45deg);
}

#petaleblue:hover{
    transform: translate(-50%,15%) rotate(45deg);
}

#petalejaune:hover{
    transform: translate(-15%,-50%) rotate(45deg);
}